@model UserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>User</title>
</head>
<body>
    <h1 style="text-align: center">He is a user!</h1>
    <p style="text-align: center"> @Model.User.FirstName</p>
    <p style="text-align: center"> @Model.User.LastName</p>
</body>
</html>
