@model NumbersViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Here are some numbers!</title>
</head>
<body>
    <h1 style="text-align: center">Numbers</h1>
    <div style="border: 1px solid black; padding: 10px; width: 50px; margin-left: 10px; padding: 50px;">
    <ul>
        @foreach (var number in Model.Numbers)
        {
            <li>@number</li>
        }
    </ul>
</div>

</body>
</html>
